*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;text-decoration: none;

}

html {
    font-size: 15px;
    overflow-x: hidden;
  }
  
  .logo {
    display: block;
  }
  
  .signup-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    font-size: 14px;
    position: relative;
  }
  
  .signup-button:hover {
    background-color: #6D75F1;
  }
  
  body {
    background: #eee;
  }
  
  .header {
    width: auto;
    height: 52px;
    border: 0px solid;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    background: black;
    font-family: 'Poppins', sans-serif; 
  }
  
  .header .navbar a {
    font-size: 14px;
    margin: 0 20px;
    color: white;
  }
  
  .navbar a:hover {
    color: #6D75F1;
  }
  
  .navbar .solution {
    cursor: pointer;
    position: relative;
  }
  
  .navbar .solution .dropdown-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    margin-left: 4px;
  }
  
  .navbar .solution .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .navbar .solution.open .dropdown-menu {
    display: block;
  }
  
  .solution,
  .Academy,
  .Resources,
  .Startupcircle {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 14px;
    outline: none;
    border: 0;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
  }
  
  .logsign {
    display: flex;
    align-items: center;
  }
  
  .solution:hover,
  .Academy:hover,
  .Resources:hover,
  .Startupcircle:hover {
    color: #6D75F1;
  }
  
  .dropdown-icon {
    transition: transform 0.3s ease;
  }
  
  .solution {
    cursor: pointer;
  }
  
  .solution-button {
    display: none;
    font-family: 'Poppins', sans-serif; 
  }
  
  .solution.open .dropdown-icon {
    transform: rotate(180deg);
  }
  
  .solution-container {
    position: relative;
    display: none;
    justify-content: center;
    left: 100px;
  }
  
  .solution-list {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif; 
    background-color: #333;
    color: white;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 80%;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  
  h3 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  
  ul>li {
    list-style-type: none;
    margin-bottom: 12px;
  }
  
  li {
    font-size: 16px;
    font-weight: lighter;
  }
  
  li:hover {
    color:  #6D75F1;
  }
  
  .menu-icon {
    display: none;
  }
  
  .menu-icon.active {
    transform: rotate(45deg);
  }
  
  .menu-icon.active:before,
  .menu-icon.active:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .menu-icon:before,
  .menu-icon:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: top 0.3s, transform 0.3s;
  }
  
  .menu-icon:before {
    top: -8px;
  }
  
  .menu-icon:after {
    bottom: -8px;
  }
  
  @media (max-width: 888px) {
    body {
      overflow: hidden;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
      padding: 10px;
      background-color: black;
      order: 2;
      position: fixed;
      top: 4px;
      right: 15px;
      z-index: 1000;
      border: 0;
    }
  
    .header {
      padding: 1rem 1.5rem;
    }
  
    .navbar {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 52px;
      right: 0;
      z-index: 100;
      background-color: black;
      display: none;
      transition: all 0.3s ease-in;
    }
  
    .navbar.active {
      display: flex;
      width: 30%;
      justify-content: space-between;
      padding-bottom: 5rem;
      height: 100%;
      padding-left: 8px;
    }
  
    .navbar a {
      font-size: 1rem;
      background-color: black;
      padding: 1rem;
      color: white;
      display: block;
      width: 100%;
      text-align: center;
    }
  
    .navbar .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1.5rem;
    }
  
    .buttons {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      justify-items: flex-start;
    }
  
    .solution,
    .Academy,
    .Resources,
    .Startupcircle {
      background-color: black;
      color: white;
      padding: 1rem;
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .solution:hover,
    .Academy:hover,
    .Resources:hover,
    .Startupcircle:hover
    {
      color:  #6D75F1;
    }
  
    .signup-button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 8px 24px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 12px;
      font-size: 14px;
    }
  
    .signup-button:hover {
      background-color: #6d75f1;
    }
  
    .solution-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      top: 52px;
      right: 0;
      width: 30%;
      background-color: black;
      padding: 0px 0px 0px 8px;
      margin: 0;
      height: 100%;
    }
  
    .solution-item {
      padding-left: 15px;
      padding-bottom: 15px;
    }
  
    h3 {
      font-size: 16px;
      margin: 0%;
    }
  
    li {
      font-size: 14px;
      padding: 4px 0px;
    }
  
    ul>li {
      margin: 0px;
    }
  
    .solution-button {
      display: flex;
    }
  
    .solution {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar .solution .dropdown-icon {
      height: 8px;
      width: 8px;
      transform: rotate(-90deg);
    }
  
    .logsign {
      flex-direction: column;
    }
  
    .invisble {
      visibility: hidden;
    }
  
    body.active {
      overflow: hidden;
    }
  }


















/* ----------------------------------------------footer-------------------------------------------------------------- */

.footer{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: black;
    padding: 48px 48px 6px 48px;
}
.wrapper{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
   
}
.accordion{
    display: flex;
    column-gap:10rem;
    justify-content: center;
    align-items: center;
    
}
input{
    display: none;
}
.title{
    display: none;
}

.contents{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.contents h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.contents li{
    color: #fff;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px; 
    padding: 2px 0px;
   
}
.contents a{
    color: #fff;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.socials svg{
    width: 26px;
    height: 26px;
    margin: 12px;
}
.copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 4px;
}

.copyright-text{
    color: #FAFAFA;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}
@media only screen and (max-width: 600px) {
.footer{
    padding: 10px;
}

 .wrapper{
    background-color: black;
    width:90vw;
}

.content-title{
    display: none;
}
input{ 
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion{
    flex-direction: column;
    width:90vw;
    gap:2px;
    overflow: hidden;
}
.item{
    width:90vw;
    overflow: hidden;
}
.title{
    background: #fff;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    color: black;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 16px;
}
.title:after{
    content:"\276F";
    width:1em;
    height:1em;
    text-align: center;
    transition: all 0.35s;
}
.contents {
    background-color: #fff;
    padding: 0em 1em;
    max-height: 0;
    transition: all 0.35s;
    
}
.contents a{
    color: black;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input[type="checkbox"] + .item .title:after {
    transform: rotate(90deg);
}

input[type="checkbox"]:checked + .item .contents {
    max-height: 100vh;
    padding: 1em;
}

.contents li{
    padding: 16px;
    margin: 4px;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
}

    }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    .accordion{
        display: flex;
        column-gap:4rem;
        justify-content: center;
        align-items: center;
        
    }
}